<div>
  <h1>Animals Memory Game 🐾</h1>
  <p>Select the images for your game!:</p>
  <app-button text="Want Cats 🐱" (click)="cats()"/>
  <app-button text="Want Dogs 🐶" (click)="dogs()"/>
  <app-button text="Want Ducks 🐤" (click)="bears()"/>
  <p>Powered by</p>
  <ul>
    <li><a href="https://random-d.uk/api" referrerpolicy="noopener noreferrer" target="_blank">Random-uk.d</a></li>
    <li><a href="https://dog.ceo/dog-api/" referrerpolicy="noopener noreferrer" target="_blank">Dog API</a></li>
    <li><a href="https://cataas.com/" referrerpolicy="noopener noreferrer" target="_blank">CATaaS</a></li>
  </ul>
</div>